@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.map-object {
    cursor: pointer;
    position: absolute; /* Permite posicionar los objetos dentro del mapa */
    width: 35%;
    image-rendering: pixelated; /* Mantiene la nitidez de los píxeles al hacer zoom */
  }
  
  #pc {
    top: 270px;
    left: 450px;
  }
  
  .screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /*encima de otros elementos */
  }

  
  .close-button {
    background-color: #dbab27;
    color: #e1e7e1;
    border: 2px solid #e4ece4;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* Fuente retro */
    margin-top: 20px;
  }
  
  .close-button:hover {
    background-color: #e4f1e4;
    color: #b1945e;
  }
  
  