.iconwindow-overlay {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.iconwindow-overlay.show {
  display: flex;
}

.iconwindow-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1000px;   /* ancho fijo en px */
  height: 600px;  /* altura fija en px */
  transform: translate(-50%, -50%); /* centrado perfecto */
  
  background: #f595ba;
  border-radius: 8px;
  border: 4px solid #b6436f;
  box-shadow: 0 0 0 4px #330825;
  overflow: hidden;
  image-rendering: pixelated;
  
}

.iconwindow-header {
  background: #f06292;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconwindow-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  margin: 0;
}

.iconwindow-close-button {
  background: transparent;
  border: none;
  color: #cebec6;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.iconwindow-body {
  padding: 10px;
  overflow: auto;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}
