/* PcScreen.css */

/* Aseguramos que esté encima de otros overlays si es necesario */
.screen-overlay.pc-screen {
  z-index: 1002;
}

/* Contenido de la pantalla */
.pc-screen-content {
  position: relative;
  background-color: #e6a4d2;
  border-left: 50px solid #dad4ba;
  border-right: 50px solid #dad4ba;
  border-top: 60px solid #dad4ba;
  border-bottom: 60px solid #dad4ba;
  border-radius: 5px;
  width: 1000px;
  height: 600px;
  max-height: 95%;
  min-height: 400px;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 0 10px #e2db7b;
  background-image:
    linear-gradient(#dfa9df 1px, transparent 1px),
    linear-gradient(90deg, #dfa9df 1px, transparent 1px);
  background-size: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Ventana interna */
.screen-content-inner {
  background: #f595ba;
  border-radius: 8px;
  width: 80%;
  max-width: 90%;
  height: 80%;
  overflow: hidden;
  border: 4px solid #b6436f;
  box-shadow: 0 0 0 4px #330825;
  display: flex;
  flex-direction: column;
}

/* Variante de botón de cierre en la pantalla */
.close-button.screen {
  align-self: flex-end;
  background: transparent;
  border: none;
  color: #cebec6;
  font-size: 18px;
  margin: 10px;
}

/* Botón de encendido */
.power-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #32cd32;
  border-radius: 50%;
}

/* Iconos de escritorio */
.screen-icon {
  cursor: pointer;
  width: 64px;
  height: 64px;
  margin: 20px;
  background: transparent; /* asegura que no se rellene con color */
  border: none; /* quita cualquier borde del navegador */


}

.screen-icon:hover {
  opacity: 0.8;
}

/* Taskbar estilo retro */
.taskbar {
  position: absolute;
  display: flex;
  background-color: #5c2f68;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.taskbar-left {
  display: flex;
  align-items: center;
}

.start-button {
  background-color: #673172;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.taskbar-clock {
  margin-right: 10px;
}
