---
import '../aboutme/AboutMe.css';

---


  <div class="about-me-content">
    <h3>Hi, I'm Daiana</h3>
    <p>My name is Daiana. I am a student pursuing an Associate Degree in Programming...</p>
    <div class="about-me-photo">
      <img src="/src/yo.jpg" alt="foto de Daiana" />
    </div>
    <div class="about-me-text">
      <p>I am interested in creating and implementing fun designs...</p>
    </div>
  </div>







